# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea/
*.log
*.csv
*.bin
*.model
*.pickle
*.udpipe
.ipynb_checkpoints/
*.jpg
*.jpeg
*.PNG
*.png

# C extensions
*.so

# Distribution / packaging
.Python
build/
build/*
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
venv
.DS_Store
sberbot/._*
sberbot/data/._*
sberbot.egg-info/
sberbot.egg-info
sberbot/services/telegram/webhook_cert.pem
sberbot/services/telegram/webhook_pkey.pem
